body{
    color: #fff;
    padding: 11px;
    font-size: 1.3rem;
    background:linear-gradient(230deg,#061050,#08a2a2);
}
::selection{
  background-color: #001;
  color: #fff;
}
  h2{
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    position: relative;
  }
  h2::after{
    content: " ";
    width: 5%;
    display: block;
    height: 0.2rem;
    background-color: #fff;
    position: absolute;
    left: 47%;
  }


  p{
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
  }
  .bg-container{   
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background: url(imgs/bg-cover.jpg) rgba(255, 255, 255, 0.1);
    border-radius:8px;
    background-position: center;
    background-size:cover;
    width: 100%;
    backdrop-filter: blur(20px);
  }


  .bg{
    padding: 10px;
    background: transparent;
    flex-wrap:wrap;
  }


  .header{
    background: transparent;
    display: flex;
    border-bottom: 1.5px solid rgba(255,255, 255, 0.8);
    flex-wrap: nowrap;

  }


  .header img{
    height: 9rem;
    width: 9rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    margin-bottom: 0.5rem;
  
  }


  .header h1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
  }

  .abt{
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.8); 
  }


  .hbs{
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.8);
  }


  .pson{
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.8);
  }


  .sls{
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.8);
  }

/*persentage circles*/

  .flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
  flex-wrap: wrap;
  justify-content: center;
}

.single-chart {
  width: 25%;
  margin-left: 20px;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 180px;
  border-right: 2px solid rgba(255, 255, 255, 0.8);
  padding-right: 14px;
}

.circle-bg {
  fill: none;
  stroke: #ffffff38;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ffff;
}

.circular-chart.green .circle {
  stroke: #4CC790; 
}
.footer{
  box-shadow: 0px 0px 20px rgb(0 0 0 / 50%);
  padding: .5rem;
  margin-top: 20px;
  border-radius: 10px;
}
.ctt-hld-scc{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 1rem;
}
.lnk-hld{
  justify-content: center !important;
  align-items: center;
  display: flex;
}
.title{
  margin-bottom: 2rem;
}

.title::after{
  content: " ";
  width: 80%;
  display: block;
  height: 0.2rem;
  background-color: #fff;
  position: absolute;
  left: 10%;
}
.icon{
  color: #fff;
}
.icon:hover{
  background: -webkit-linear-gradient(45deg,#3bff00,#00bcff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cnt-scc{
  font-family: 'Maven Pro', sans-serif;
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #fff;

}
.cnt-scc:hover{
  background: -webkit-linear-gradient(45deg,#3bff00,#00bcff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lft-scc-ctt{

}
.ctt-me::after{
  content: " ";
  width: 40%;
  display: block;
  height: 0.2rem;
  background-color: #fff;
  position: absolute;
  left: 28%;
}
